.doctor-dashboard {
    display: flex;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background-color: white;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: auto;
    background-color: #E0F2FE;
    color: #1D4189;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.sidebar .logo {
    font-size: 28px;
    font-weight: bold;
    color: #1D4189;
    margin-top: 30px;
}
.sidebar nav {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.nav-btn {
    width: 150px;
    background-color: white;
    color: #1D4189;
    border: 2px solid #1D4189;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
}

.nav-btn:hover {
    background-color: #1D4189;
    color: white;
}

.nav-btn-logout {
    margin-top: auto;
    color: #FF4D4D;
    background-color: white;
    border: 2px solid #1D4189;
    margin-top: 350px;
    width: 150px;
}
.nav-btn-logout:hover {
    background-color: #FF4D4D;
    color: white;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: white;
}

/* Welcome Section */
.welcome-section {
    background-color: #E0F2FE;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.welcome-section h1 {
    margin: 0;
    color: #1D4189;
    font-size: 32px;
}

.welcome-section p {
    color: #1D4189;
    font-size: 18px;
    /* margin-top: 20px; */
}

/* Placeholder Section */
.doc-content-placeholder {
    text-align: center;
    padding: 50px;
    color: #1D4189;
    font-size: 18px;
    border: 2px dashed #E0F2FE;
    border-radius: 10px;
}