.labtech-dashboard {
    display: flex;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background-color: white;
}

/* Sidebar */
.lb-sidebar {
    width: 220px;
    background-color: #E0F2FE;
    color: #1D4189;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.lb-sidebar .lb-logo {
    font-size: 28px;
    font-weight: bold;
    color: #1D4189;
    margin-top: 30px;
}
.lb-sidebar nav {
    margin-top: 60px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}
.lb-nav-btn {
    width: 150px;
    background-color: white;
    color: #1D4189;
    border: 2px solid #1D4189;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

.lb-nav-btn:hover {
    background-color: #1D4189;
    color: white;
}

.lb-nav-btn.active {
    background-color: #1D4189;
    color: white;
    transform: translateY(2px);
}
.lb-nav-btn-logout {
    margin-top: auto;
    color: #FF4D4D;
    background-color: white;
    border: 2px solid #1D4189;
    margin-top: 450px;
    width: 150px;
}
.lb-nav-btn-logout:hover {
    background-color: #FF4D4D;
    color: white;
}
/* Main Content */
.lb-main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: white;
}

/* Welcome Section */
.lb-welcome-section {
    background-color: #E0F2FE;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.lb-welcome-section h1 {
    margin: 0;
    color: #1D4189;
    font-size: 32px;
}

.lb-welcome-section p {
    color: #1D4189;
    font-size: 18px;
    margin-top: 10px;
}

/* Placeholder Section */
.lb-content-placeholder {
    text-align: center;
    padding: 50px;
    color: #1D4189;
    font-size: 18px;
    border: 2px dashed #E0F2FE;
    border-radius: 10px;
}