.appointment-header {
    display: grid;
    grid-template-columns: 1.7fr 1.5fr 1fr 1fr;
    color: #2B4D90;
    background-color: #E0F2FE;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 915px;
  }
  .appointment-row {
  display: grid;
  grid-template-columns: 1.7fr 1.5fr 1fr 1fr;
  background-color: #E0F2FE;
  color: #2B4D90;
  padding: 12px 20px;
  border-radius: 8px;
  width: 915px;
  font-weight: 500;
  font-size: 20px;
}
.appointment-row p {
    margin: 0;
    padding: 0;
    color: #2B4D90;
    margin-bottom: 20px;
  }

.delete-icon {
  background-color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  text-align: right;
  color: #ff2024;
}

.delete-icon:hover {
    background-color: #ff2024;
    color: #ffffff;
     /* darker red on hover */
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
